<!DOCTYPE html>

<html>
    <head>
        <title>Tetris3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            var socket;
            var opponentCells;
        </script>
        
    </head>
    <body>
        <h1>Welcome <%= userid %>,  <%= from %> </h1>
    
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

        
        <script>

            $(()=>{
                socket = io.connect('', {
                    query: {
                        name : '<%= userid %>', 
                        from : '<%= from %>'
                    },
                    forceNew : false
                });

                socket.on('chat message', (msg)=>{
                    $('#messages').append($('<li>').text(msg));
                });


            });


            function createBattle_Join() {

                var packet = {
                    sender : '<%= userid %>',
                    receiver : '',
                    type1 : 'game',
                    type2 : 'tetris',
                    command : 'createBattle'
                };
                packet.battle_name = $('#battle_name').val();
                packet.level = $("input[type='radio'][name='level']:checked").val();
                packet.x = $('#x_length').val();
                packet.y = $('#y_length').val();
                
                socket.emit('game:tetris', packet);


     

            
                window.location.replace('/tetris_battle');
            }

        </script>

        <!-- write a code to show a list waiting users for tetris -->
        <h2>Waiting List</h2>
        
        
        
        
        
        <hr>

        <!-- write a code to show input form for a new battle room -->
        <h2>Make your own battle 1 room</h2>
        <fieldset>
           
            <legend>Battle Information</legend>
            <br>
            <label>Battle Name</label><input type="text" id="battle_name" >		
            <br>
            
            <fieldset>
                <legend>Level</legend>
                <input checked  type="radio" name="level" value="low">Low
                <input          type="radio" name="level" value="medium">Medium
                <input          type="radio" name="level" value="high">High
            </fieldset>
            <br>
            
            <label>X length</label><input type="number" id="x_length" value="10" step="1" min="8" max="12" ><br>		
            <br>
            <label>Y length</label><input type="number" id="y_length" value="20" step="1" min="16" max="24" ><br>	
            <br>
            <input type="button" value="Create and Join" onclick="createBattle_Join()"><br>

     
        </fieldset>



 
    </body>
</html>
 